.v-input-number {
	display: inline-block;
	position: relative;
	height: 30px;
	.v-input-number_input {
		width: 100px;
		text-align: center;
		border: 1px solid #dcdfe6;
		border-radius: 4px;
		line-height: 28px;
		&:disabled {
			color: #c0c4cc;
			background: #f5f7fa;
		}
	}
	.v-input-number_decrease,
	.v-input-number_increase {
		position: absolute;
		z-index: var(v-index-normal);
		top: 0px;
		width: 30px;
		height: 100%;
		text-align: center;
		border: 1px solid #dcdfe6;
		background: #f5f7fa;
		color: #606266;
		cursor: pointer;
		font-size: 14px;
		&.is-disabled {
			color: #c0c4cc;
			cursor: not-allowed;
		}
	}
	.v-input-number_decrease {
		left: 0px;
		border-radius: 3px 0 0 3px;
	}
	.v-input-number_increase {
		right: 0px;
		border-radius: 0 3px 3px 0;
	}
}